.grid {

}

.grid td {
    border-bottom: 1px solid #EDEDED;
    border-right: 1px solid #EDEDED;


}

.grid div {
    height: 24px;
    line-height: 24px;
}

.isValue {
    color: #950a0f;
}

.isValueAndHighlighted {
    color: #950a0f;
}

.isHighlighted {
    background: #F0E68C;
}

.cell {
    font-size: 85%;
    font-weight: bold;
    text-align: center;
    outline: none;
}

.isSelected {
    font-size: 85%;
    font-weight: bold;
    text-align: center;
    outline: none;
    background: none repeat scroll 0 0 #D7DFE8;
}

.isFiller {
    font-size: 85%;
    font-weight: normal;
    color: #999999;
    text-align: center;
    outline: none;
}

.isDisabled {
    color: #AAAAAA;
}

.isWeekend {
    font-size: 85%;
    font-weight: bold;
    background: none repeat scroll 0 0 #F7F7F7;
    text-align: center;
    outline: none;
}

.isWeekendValue {
    color: #950a0f;
}

.isWeekendAndSelected {
    font-size: 85%;
    font-weight: bold;
    text-align: center;
    outline: none;
    background: none repeat scroll 0 0 #D7DFE8;
}

.isWeekendAndFiller {
    font-size: 85%;
    font-weight: normal;
    background: none repeat scroll 0 0 #F7F7F7;
    color: #999999;
    text-align: center;
    outline: none;
}

.isWeekendAndHighlighted {
    background: #F0E68C;
}

.isWeekendValueAndHighlighted {
    color: #950a0f;
}

.isToday {
    font-size: 85%;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    outline: none;

    background: #2D4A76; /* ? for old browsers */
    background: -moz-linear-gradient(top, #2D4A76 0%, #4374BB 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2D4A76), color-stop(100%, #4374BB)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2D4A76 0%, #4374BB 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2D4A76 0%, #4374BB 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2D4A76 0%, #4374BB 100%); /* IE10+ */
    background: linear-gradient(to bottom, #2D4A76 0%, #4374BB 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2D4A76', endColorstr='#4374BB', GradientType=0); /* IE6-9 */

}

.isTodayAndValue {
    font-size: 85%;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    outline: none;

    background: #2D4A76; /* ? for old browsers */
    background: -moz-linear-gradient(top, #2D4A76 0%, #4374BB 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2D4A76), color-stop(100%, #4374BB)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2D4A76 0%, #4374BB 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2D4A76 0%, #4374BB 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2D4A76 0%, #4374BB 100%); /* IE10+ */
    background: linear-gradient(to bottom, #2D4A76 0%, #4374BB 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2D4A76', endColorstr='#4374BB', GradientType=0); /* IE6-9 */

}

.isTodayAndSelected {
    font-size: 85%;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    outline: none;

    background: #2D4A76; /* ? for old browsers */
    background: -moz-linear-gradient(top, #2D4A76 0%, #4374BB 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2D4A76), color-stop(100%, #4374BB)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2D4A76 0%, #4374BB 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2D4A76 0%, #4374BB 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2D4A76 0%, #4374BB 100%); /* IE10+ */
    background: linear-gradient(to bottom, #2D4A76 0%, #4374BB 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2D4A76', endColorstr='#4374BB', GradientType=0); /* IE6-9 */

}

.isHoliday {

}


.isHolidayAndSelected {

}
